/*Inscription Connexion*/
#choixTypeUser{
    background-color: azure;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 10em;
    margin-bottom: 10em;
}
#client{
    margin: auto;
}
#professionnel{
    margin: auto;
}

/*Entreprise*/

    /*Création*/
    #btnAjoutService{
        margin:1em;
    }

    #imCreaEnt{
        height: 30em;
    }

    #form-group input{
        margin: 0.5em;
    }

    /*Affichage et modification*/

    #contentUl{
        margin:2em;
    }

    .pEnt{
        color: black;
    }

    /*annonce.*/

.annonce{
background: linear-gradient(#32a89e,#93ccc7);
color: white;
}

.logoEnt{
    width: 60%;
}
@media (min-width: 1200px){
    #menuCont{

    max-width: 100% !important;

    }
}

#contentConvers{
    height: 60%;
}

#contentChat{
    height: 60%;
}

.lienBleu{
    color: #337ab7 !important;

}

.lienBleu:hover {
    color: #032d52 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    
}
.lienHover{
    text-decoration: underline !important;
}
.lienHover:hover{
    color: #032d52 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/