/*Inscription Connexion*/
#choixTypeUser{
    background-color: azure;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 10em;
    margin-bottom: 10em;
}
#client{
    margin: auto;
}
#professionnel{
    margin: auto;
}

/*Entreprise*/

    /*Création*/
    #btnAjoutService{
        margin:1em;
    }

    #imCreaEnt{
        height: 30em;
    }

    #form-group input{
        margin: 0.5em;
    }

    /*Affichage et modification*/

    #contentUl{
        margin:2em;
    }

    .pEnt{
        color: black;
    }