#choixTypeUser{
    background-color: azure;
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 10em;
    margin-bottom: 10em;
}
#client{
    margin: auto;
}
#professionnel{
    margin: auto;
}